<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lnct">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.locatebus.lnct.LocateActivity"></activity>
        <activity android:name="com.viewroute.lnct.ViewRouteActivity" />
        <activity android:name="com.notice.lnct.NoticeActivity" />
        <activity android:name="com.findplace.lnct.FindPlace" />
        <activity android:name="com.findbus.lnct.FindBusActivity" />
        <activity android:name="com.findplace.lnct.FindPlaceActivity" />
        <activity android:name="com.admin.lnct.AddNotice" />
        <activity android:name="com.admin.lnct.SetOneTimeBusDetails" />
        <activity android:name="com.admin.lnct.ChangeBusDetails" />
        <activity android:name="com.admin.lnct.AdminMainActivity" />
        <activity android:name="com.admin.lnct.AdminLoginActivity" /> <!-- <activity android:name=".SplashActivity"></activity> -->
        <activity
            android:name="com.navigationdrawer.lnct.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>